{% extends 'base.html.twig' %}
{% set title = "Ajouter un livre"%}

{% block title %}{{ parent() }} - {{title}}{% endblock %}

{% block body %}
<h2> {{title}}<h2>
<div>

{% include "book/_form.html.twig" %}
    
</div>


{% endblock %}