{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}


<div class="text-center">
    {{ now | date('d-m-Y H:i:s') }} <br>
    {{ html | raw }} <br>
    {% set json = array | json_encode() %}
    {% for value in json | json_decode() %}
        {{ value }} <br>
    {% endfor %}
    


</div>
{% endblock %}
